In [1]:
from scipy.io import loadmat
from matplotlib import pyplot as plt

In [59]:
def load_subject_data(index):

    ind_str = ""
    if index < 10: ind_str = "00"+str(index)
    if index >= 10: ind_str = "0"+str(index)

    path = "derivatives\sub-" + ind_str + "\eeg\sub-" + ind_str + "_task-eyesclosed_eeg.set"
    data = loadmat(path)

    return data

In [60]:
%matplotlib qt

In [61]:
def plot_sub_data(data, window):
    one_chanel = data['data'][1]
    times = data['times'].T

    plt.plot(times, one_chanel)
    plt.show()

window = [5000, 10000]
data = load_subject_data(17)
plot_sub_data(data, window)
data = load_subject_data(37)
plot_sub_data(data, window)

In [78]:
import numpy as np

mmse = pd.read_csv('participants.tsv', sep='\t')

subject_list = mmse['participant_id']
means = np.zeros((len(subject_list), 1))
stds = np.zeros((len(subject_list), 1))

mmse_score = mmse['MMSE']

for sub in subject_list:
    sub_int = int(sub[4:])
    data = load_subject_data(sub_int)
    eeg = data['data'][0]

    means[sub_int-1] = np.mean(eeg)
    stds[sub_int-1] = np.std(eeg)

plt.scatter(mmse_score, means)
plt.show()
plt.scatter(mmse_score, stds)
plt.show()

In [134]:
usefull_keys = ['data', 'times', 'group']

def create_dict_subject(index, usefull_keys):
    usefull_data_dict = {}
    data = load_subject_data(index)

    for key in usefull_keys:
        if key == 'data':
            for i in range(data[key].shape[0]):
                usefull_data_dict['ch' + str(i)] = [data[key][i].T]
        elif key == 'times':
            usefull_data_dict[key] = [np.squeeze(data[key])]
        elif key == 'group':
            usefull_data_dict[key] = data[key][0]
        else:
            usefull_data_dict[key] = [data[key]]

    mmse = pd.read_csv('participants.tsv', sep='\t')
    mmse_score = mmse['MMSE']

    usefull_data_dict['MMSE'] = mmse_score[index-1]

    return usefull_data_dict

usefull_data_dict = create_dict_subject(1, usefull_keys)

In [135]:
def save_subject_data(index, path):
    pass
    

df = pd.DataFrame.from_dict(usefull_data_dict)
df.head()
# usefull_keys = ['data', 'times', 'group']

,ch0,ch1,ch2,ch3,ch4,ch5,ch6,ch7,ch8,ch9,...,ch12,ch13,ch14,ch15,ch16,ch17,ch18,times,group,MMSE
0,"[-33.716686, -28.1891, -22.796139, -18.145367,...","[-25.142326, -20.730621, -16.693195, -13.42015...","[-10.501626, -10.805439, -11.653964, -12.85598...","[-15.470965, -13.357321, -11.5691, -10.171793,...","[-14.63978, -13.841861, -13.329861, -13.044628...","[-18.083931, -15.904325, -13.841828, -12.09504...","[-12.670144, -11.89537, -11.468915, -11.322964...","[-15.455706, -13.7627125, -12.35346, -11.33756...","[-14.112548, -14.834889, -15.685031, -16.42809...","[-14.500907, -13.384614, -12.559989, -12.05203...",...,"[-15.743222, -15.19009, -14.8261175, -14.56622...","[-15.87024, -14.149742, -13.128342, -12.879127...","[-12.27, -13.692374, -15.350288, -16.850992, -...","[-18.645056, -16.7907, -15.361226, -14.529299,...","[-16.640219, -14.803726, -13.299286, -12.21645...","[-15.98963, -14.482277, -13.112459, -11.933325...","[-15.898245, -14.147045, -12.649577, -11.53213...","[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24...",A,16